<div>
  <h1><%= user.username %></h1>
  <img class="image is-128x128 rounded" src="<%= user.imageSRC %>" alt="<%= user.username %>">

  <a class="button is-primary" href="/users/<%= user.id %>/edit">Edit profile</a>

  <form method="POST" action="/profile">
    <input type="hidden" name="_method" value="DELETE">
    <button class="button is-danger">Delete Account</button>
  </form>
</div>
