<nav class="nav has-shadow">
  <div class="nav-left">
    <a href="/" class="nav-item">
      <span class="icon"><i class="fa fa-github"></i></span> <span>Github oAuth</span>
    </a>
  </div>
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class="nav-right nav-menu">
    <a class="nav-item" href="/posts">Posts</a>
    <% if(locals.isAuthenticated) { %>
      <a class="nav-item" href="/users/<%= user.id %>">
        <%= user.username %>
      </a>
      <a class="nav-item" href="/posts/new">
        Add Post
      </a>
      <a class="nav-item" href="/logout">
        Logout
      </a>
    <% } else { %>
      <a class="nav-item" href="/register">
        Register
      </a>
      <a class="nav-item" href="/login">
        Login
      </a>
    <% } %>
  </div>
</nav>
