<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI Project 1</title>
    <% include ./partials/_stylesheets.ejs %>
    <% include ./partials/_scripts.ejs %>
  </head>
  <body>
      <header>
        <% include ./partials/_navbar.ejs %>
      </header>

      <% for(const type in messages) { %>
      <div class="notification is-<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
      <% } %>
    <main>
      <%- body %>
    </main>
  </body>
</html>
