<div class="index-background home">
  <div class="home-title">
    <h1>Read about
      <span class="txt-rotate" data-period="2000" data-rotate='[ "sport.", "news.", "politics.", "music.", "tech." ]'></span>
    </h1>
    <h2>Blogitive has news for your mood.</h2>
  </div>
</div>
