<div class="column">
  <h1 class="title">Login</h1>

  <form method="POST" action="/login">
    <div class="field">
      <label class="label" for="email">Email</label>
      <input class="input" type="text" name="email" id="email" required>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" name="password" id="password" required>
    </div>

    <button class="button">Login</button>
  </form>
  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
  <a href="<%= oauth.github.getLoginURL() %>" target="_blank" class="btn btn-primary">Login with Github</a>


</div>
