<div class="column is-8 is-offset-2">
  <h1 class="title">Login</h1>

  <form method="POST" action="/login">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="email" name="email" id="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" name="password" id="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

    <button class="button">Login</button>
  </form>

  <a href="<%= oauth.instagram.getLoginUrl() %>" target="_blank" class="button">Login with Instagram</a>

  <a href="<%= oauth.github.getLoginUrl() %>" target="_blank" class="button">Login with Github</a>
  <a href="<%= oauth.facebook.getLoginUrl() %>" target="_blank" class="button">Login with Facebook</a>


</div>
