<div class="column is-8 is-offset-2">
  <h1 class="title">Login</h1>

  <form method="POST" action="/login">
    <div class="field">
      <label class="label" for="email">Email</label>
      <input class="input" type="text" name="email" id="email" required>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <input class="input" type="password" name="password" id="password" required>
    </div>

    <button class="button">Login</button>
  </form>

  <a href="<%= oauth.instagram.getLoginUrl() %>" target="_blank" class="btn btn-primary">Login with Instagram</a>

  <a href="<%= oauth.github.getLoginUrl() %>" target="_blank" class="btn btn-primary">Login with Github</a>


</div>
