@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/components/_all";
@import "bulma/elements/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";


.index-background {
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 94vh;
  position: relative;
}

.display {
  display: block;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  color: #9855D4;
  margin-left: 10px;
  i {
    margin-right: 5px;
  }
}

.profile-page {
  padding-top: 80px;
}

.posts-header {
    text-align: center;
    margin: 35px;
    color: #9855D4;
}
.button-bar {
  display: inline-flex;
  margin-top: 10px;
  text-align: center;
}
.delete-button {
  margin: 0 10px
}

input.input.error {
  border-color: red;
}

input + .error {
  display: none !important;
}


a {
  color: #9855D4;
}

.general-tag {
  border: 1px solid #9855D4;
  color: #9855D4;
  margin-right: 5px;
  margin-top: 10px;
}

.tag-bar {
  margin: 20px 10px;

}
.profile-heading {
  img {
    margin: 10px auto;
    display: block;
  }

  text-align: center;
}
.profile-image {
  height: 200px;
}

.category-selector {
  background: white;
}

.article-content {
  padding: 20px;
}

.white-boxed {
  background: white;
  box-shadow: 1px 1px 1px rgba(229 , 229, 229, 0.8);
  .image.is-2by1 {
      padding-top: 0;
  }
}
.oauth-buttons {
  margin-top: 20px;
  a {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 5px;
  }
  i {
    margin-right: 5px;
    margin-top: 2px;
  }
}



.comment-sentiment {
  float: right;
}

.sentiment-circle {
  float: right;
  padding: 20px 9px;
  border-radius: 50%;
  letter-spacing: 1.5px;
  font-size: 22px;
  min-width: 75px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #333, 0 -1px 0 #333, 0 1px 0 #333, -1px 0 0 #333;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sentiment-circle-post {
  margin-top: -5px;
}

.timeago {
  margin-top: 14px;
  display: block;
  i {
    margin-left: 5px;
  }
}

.sentiment {
  margin-right: 10px;
}

.entities {
  padding: 2.5px;
  margin-right: 5px;
  margin-top: 10px;
  color: #9855D4;
  border-width: 1px;

}

.post-container {
  @extend .white-boxed;
  img {
    width: 100%
  }
}

.article-container {
    @extend .white-boxed;
    &:hover {
      opacity: 0.75;
    }
  &:hover {
    box-shadow: 1px 1px 1px rgba(209 , 209, 209, 1);
  }
}
.notification:not(:last-child) {
  margin-bottom: 0;
}
article .media {
  padding: 20px 0;
}

.form-page, .register-form {
  padding: 30px 20px;
  @extend .white-boxed;
}

.register-form {
  margin-top: 130px;
}

.login-btn {
  width: 100%
}

main {
  background: rgba(229 , 229, 229, 0.4);
  min-height: 93vh;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    color: #9855D4;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tabs a:hover {
    border-bottom-color: #9855D4;
    color: #9855D4;
}
hr {
 background-color: #9855D4;
}

.image-circle {
    border-radius: 50%;
}

.tile p, .content p {
  display: inline;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

.content {
  margin-left: 20px;
}

.home-title {
  position: absolute;
  text-align: left;
  font-size: 18px;
  letter-spacing: 4px;
  color: #E5E5E5;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  h1,h2 {
    font-weight: 200;
  }

  h1 { font-size: 3.5em; }

  h2 {
    color: #E5E5E5;
    font-size: 2em;
  }
}

.blog-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.25px;
  padding-bottom:10px;
}

.field .blog-post-input {
  border: none;
  box-shadow: none;
  color: #333;
}

.image.is-2by1 {
  padding-top: 2.5%;
  width: 100%;
}

input[name="title"] {
  font-size: 68px;
  padding: 0;
}

input[name="tagline"] {
  font-size: 18px;
  padding: 0;
  letter-spacing: 2px;
  color:#333;
}

.tags {
  font:inherit;
  font-weight:normal;
  font-style:normal;
  color:#333;
  display:block;
  height: 50px;
  line-height:1.25;
  padding:.25em 0 0 .25em;
  cursor:text;
  overflow:hidden;
}
.tags span {
  display:block;
  float:left;
  position:relative;
}
.tags .tag,
.tags-input {

  margin:0 .25em .25em 0;
  padding: .25em .5em;
  min-height: 1.25em;
  cursor: default;
}
.tags .tag:before {content:attr(data-tag)}
.tags:after,
.tags-view:after {
  content:"";
  display:table;
  clear:both;
}
.tags a {
  display:inline-block;
  margin:0 0 0 .5em;
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
.tags a:before {
  content:'\00D7';

}
.tags .tags-view {float:none}
.tags .tags-input {
  float:none;
  background:none;
  cursor:inherit;
  min-width:1em;
}
.tags-input span {
  float:none;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:4;
  padding:inherit;
}
.tags-input span + span {
  position:static;
  padding:0;
  opacity:.5;
}
.tags .tag + .tags-input {float:left}
.tags .tag + .tags-input span + span {display:none}
.tags-input span:focus + span {opacity:.4}
.tags-output {display:none}

@media screen and (max-width: 1060px) {
    .tile.is-4, .tile:not(.is-child)  {
      display: block;
      width: 100%;
    }
    a.nav-item:not(.button) {
      margin: 0 auto;
    }

    .nav-menu.nav-right {
      margin: 0 auto;
      display: flex;
      .nav-item {
        margin: 0 auto;
      }
    }

    div.category-selector.tabs {
      position: fixed;
      height: 50px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      z-index: 99;
    }

    .article-container {
      figure img {
      display: none;
      }
      .column.is-4, .column.is-4-tablet {
        width: 0;
      }
      .content {
        margin-left: 0;
      }
    }
}
